<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New-Post</title>
    <style>
        .leftover-body{
            position: relative;
            top: 0;
            background-color: #90D6FF;
            width: 100%;
            height: 600px;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .form{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        .label{
            /* margin: 10px; */
            font-weight: 500;
            font-size: 30px;
        }
        input{
            margin: 10px;
            left: 30px;
        }
        .form-div{
            width: 30%;
            height: 60%;
            background-color: #444444;
            color: #00d1cd;
            border-radius: 50px;
        }
        form{
            /* display: flex; */
            position: relative;
            left: 40px;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <%- include('./partials/navbar',); %>
    <div class="leftover-body">
        <div class="form-div">
        <form action="/post/edit" method="POST">
            <div class="label">Title: </div><input type="text" name="title" placeholder="Enter Title" value="<%- post.title%>"><br>
            <!-- <input type="text" name="content" placeholder="Enter Content"> -->
            <div class="label">Image: </div><input type="url" name="imageUrl" placeholder="Enter ImageUrl" value="<%- post.imageUrl%>">
            <div class="label">Content: </div><input type="text" name="content" placeholder="Enter Content" value="<%- post.content%>">
            <div class="label">Author: </div><input type="text" name="author" placeholder="Enter Author" value="<%- post.author%>">
            <input type="hidden" name="id" value="<%- post.id%>">
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>
    </div>
    <%- include('./partials/contact'); %>

</body>
</html>